<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('Nav')  %> 
    <% if (role == 'Not-admin') { %>
        <div class="container-fluid">
            <div class="row course-body">
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Video Editing</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Complete Video Editing Course using the Latest tools and technologies</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End course block -->
            </div>
        </div>
    <% } else if ( role == 'Admin') { %>
         <%- include('Adminpanel') %>
        <div class="container-fluid">
            <div class="row course-body">
                <!-- Courses for Admin -->
                <!-- Repeat the following div block for each course -->
                <div class="col-lg-3 video-course">
                    <div class="courses-box">
                        <div>
                            <img class="courses-img" src="https://media.istockphoto.com/id/1490436596/photo/rear-view-of-a-producer-man-in-the-recording-studio.jpg?s=1024x1024&w=is&k=20&c=jb68sDoItwSMtJhzZvlCEYFN2V-GvA4PPyR839rICLc=" />
                        </div>
                        <div>
                            <h3 style="margin-top: 32px;">Upload Lectures</h3>
                        </div>
                        <div>
                            <p style="color:#6C7696">Upload Lectures by Uploading your Img and other Information</p>
                        </div>
                        <div>
                            <ul class="course-ul">
                                <li>Adobe Pro</li>
                                <li>Graphic</li>
                                <li>Editing</li>
                                <li>Audio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- End course block -->
            </div>
        </div>
    <% } %>
    
    <style>
        .course-body {
            background-color: #0E1630;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .courses-img {
            width: 100%;
        }
        .video-course {
            background-color: #171F38;
            color: white;
            border-radius: 10px;
            margin-top: 3rem;
            margin-left: 1rem;
            padding: 20px 20px 30px 20px;
        }
        .course-ul {
            display: flex;
            padding: 0;
            list-style: none;
        }
        .course-ul li {
            border: solid;
            font-size: 14px;
            padding: 3px;
            background-color: #4E5772;
            border-color: #4E5772;
            border-radius: 7px;
            margin-left: 10px;
            border-width: 0.1cqi;
        }
    </style>
    
</body>
</html>
